

<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Absensi RFID</title>

  <!-- HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>

  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-100" hx-boost="false">

<div class="flex min-h-screen">

  <!-- SIDEBAR -->
  <aside
        id="sidebar"
        data-pinned="false"
        class="bg-slate-900 text-white w-16
                hover:w-56
                data-[pinned=true]:w-56
                transition-all duration-300
                group flex flex-col relative"
        >

    <!-- LOGO -->
    <div class="p-4 text-lg font-bold text-center border-b border-slate-700">
      <span class="group-hover:hidden">📡</span>
      <span class="hidden group-hover:block data-[pinned=true]:block transition-opacity">Absensi RFID</span>
    </div>

        <!-- PIN BUTTON -->
    <button
      id="pinBtn"
      class="text-xs px-2 py-1 rounded bg-slate-700 hover:bg-slate-600"
      title="Pin Sidebar"
    >
      ⮞⮞
    </button>

    <!-- MENU -->
    <nav class="flex-1 mt-4 space-y-1">

      <a href="/" 
        hx-boost="false"
        class="flex items-center gap-3 px-4 py-3 hover:bg-slate-700">
        <span>🏠</span>
        <!-- <span class="hidden group-hover:block">Dashboard</span> -->
         <span class="hidden group-hover:block ">Dashboard </span>

      </a>

      <a href="/siswa"
        hx-boost="false"
        class="flex items-center gap-3 px-4 py-3 hover:bg-slate-700">
        <span>👨‍🎓</span>
        <span class="hidden group-hover:block ">Data Siswa</span>
      </a>

      <a href="/perhitungan"
        hx-boost="false"
        class="flex items-center gap-3 px-4 py-3 hover:bg-slate-700">
        <span>📊</span>
        <span class="hidden group-hover:block ">Perhitungan</span>
      </a>

    </nav>

    <!-- FOOTER -->
    <div class="p-3 text-xs text-center text-slate-400">
      <span class="hidden group-hover:block">
        © 2026 RFID System
      </span>
    </div>
  </aside>

  <!-- Untuk main embed page nya -->
  <main class="flex-1 p-6">
    {{ embed }}
  </main>
</div>

<!-- untuk edit nama -->
<div id="modal"></div>

<script>
      function closeModal() {
        const modal = document.getElementById("modal");
        if (modal) modal.innerHTML = "";
      }
</script>

<script>
      // const ws = new WebSocket("ws://192.168.1.100:8000/websocket");
         const ws = new WebSocket("ws://wan2.adamulti.com:8000/websocket");

      ws.onopen = () => {
        console.log("✅ WS CONNECTED");
      };

      ws.onmessage = (e) => {
        const table = document.getElementById("absen-table");
        if (table) {
          htmx.trigger(table, "reload");
        }  
      };

      ws.onclose = () => {
        console.log("🔴 WS CLOSED");
      };
</script>

<script>
      const sidebar = document.getElementById("sidebar");
      const pinBtn = document.getElementById("pinBtn");

      // load state
      const pinned = localStorage.getItem("sidebarPinned") === "true";
      sidebar.dataset.pinned = pinned;

      // toggle pin
      pinBtn.addEventListener("click", () => {
        const isPinned = sidebar.dataset.pinned === "true";      

        sidebar.dataset.pinned = !isPinned;
        localStorage.setItem("sidebarPinned", !isPinned);

         pinBtn.textContent = sidebar.dataset.pinned === "true" ? "⮜⮜" : "⮞⮞";           

      });
      
      
</script>


</body>
</html>
